.vscode/
src/app/obj/
src/app/bin/
src/ndustrialio.net/obj/
src/ndustrialio.net/bin
src/ndustrialio.net/project.json
src/app/project.json
src/app/project.lock.json
.vs/
src/ndustrialio.net/project.lock.json
