.vscode/
src/app/obj/
src/app/bin/
src/ndustrialio.net/obj/
*.user
*.sln
/src/ndustrialio.net/project.lock.json
/src/ndustrialio.net/bin/Debug
/src/ndustrialio.net/.vs/
/src/app/.vs/
.DS_Store

.idea/
ndustrialio.net/obj/
app/obj/
app/bin/
ndustrialio.net/bin/
