.vscode/
src/app/obj/
src/app/bin/
src/ndustrialio.net/obj/
*.user
/src/ndustrialio.net/project.lock.json
/src/ndustrialio.net/bin/Debug
/src/ndustrialio.net/.vs/
/src/app/.vs/
.DS_Store
ndustrialio.net/obj/
app/obj/
app/bin/
ndustrialio.net/bin/
../.vs/
bin/
obj/
